/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #001d35;
  color: white;
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.4rem 0;
}

/* Team Section */

.teams-container {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 3rem;
}

.team {
  border: solid white 1px;
  border-radius: 20px;
  height: 230px;
  width: 210px;
  text-align: center;
  background-color: #0e2131;
}

.team-name {
  margin: 0.5rem 1rem;
}

.img-logo {
  width: 150px;
}

.search-bar {
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 0.2rem 0.8rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.2rem 0.8rem;
  font-weight: 600;
  background-color: #666996;
  border: 1px solid white;
  color: white;
  margin-left: 0.4rem;
  border-radius: 5px;
  font-family: "Outfit", sans-serif;
}
